{% extends 'index.html' %}
{%load static%}
{%block scripts%}
   <script src="{%static 'quizz/quiz.js' %}" defer></script>
{% endblock scripts%}
{%block title%} 
{{obj.name}}
{%endblock title%}
{% block stylesheet %}
   <link rel="stylesheet" href="{% static 'quizz/style.css' %}"/>
{% endblock %}
{%block content%}
<div class="row" id="quizzz">
    <div class="col">
    <b>{{obj.name}}</b>
    <p><h5>score to pass:{{obj.score_to_pass}}%</h6></p>
    </div>
    <div class="col text-right" id="timer-box"></div>
</div>
<a href="{% url 'quizz:main-view'  %}" class="btn btn-danger">go back</a>
<br>
<form id="quiz-form" class="mt-3 mb-3">
  {% csrf_token %}
  <div id="quiz-box"></div>
  <button type="submit" id="butn" class="btn btn-primary mt-3">Submit</button>
</form>
<br>
<div id="score-box"></div>
<br>
<div id="result-box"></div>

{% endblock content%}